{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Zabeeb Zaliz S{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO -->
    <meta name="description" content="Zabeeb Zaliz S – Python Developer focusing on backend, data science, and generative AI.">
    <meta name="keywords" content="Python Developer, Django, Backend, Data Science, Generative AI">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

   <header class="site-header">
    <nav class="navbar container">
        <a href="{% url 'home' %}" class="logo">Zabeeb Zaliz S</a>

        <!-- Hamburger -->
        <div class="menu-toggle" id="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul class="nav-links" id="nav-links">
            <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
            <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
            <li><a href="{% url 'projects' %}" class="nav-link">Projects</a></li>
            <li><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
        </ul>

        <!-- Theme Toggle -->
        <!-- <button id="theme-toggle" aria-label="Toggle Theme">🌙</button> -->
    </nav>
   </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Scripts -->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>